{% include 'html-header.twig' %}
{% block head %}
    <meta property="og:title" content="Participe"/>
    <!--meta property="og:image" content="http://davidwalsh.name/wp-content/themes/klass/img/facebooklogo.png"/-->
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="Gostaríamos de ampliar o diálogo abrindo um canal para avaliação e comentários sobre as propostas feitas para o Anhangabaú e mais 4 projetos piloto no Centro de São Paulo. Sua participação é fundamental para traçarmos uma boa estratégia de intervenção nestes espaços públicos."/>
{% endblock %}

</head>
    <body class="{{body_class}}" data-source="base.twig">
        <header>
            <div class="navbar navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <div class="container-fluid">
                        <h1 id="logo"> <a href="http://gestaourbana.prefeitura.sp.gov.br/" title="Voltar ao início" class="pull-left inline">gestão urbana sp</a> </h1>
                        <div class="left-arrow"> <a href="http://gestaourbana.prefeitura.sp.gov.br/centro-dialogo-aberto/" title="Voltar ao início">&#171;</a> </div>
                        <h2> <a href="{{bloginfo('home')}}" title="Participe" class="pull-left inline">Participe</a> </h2>
                        <div class="social-buttons pull-right inline">
                            <iframe width="180" scrolling="no" height="25" frameborder="0" name="social-bar-home" src="http://gestaourbana.prefeitura.sp.gov.br/wp-content/themes/gestaourbana-1.2/social-bar-home.php"></iframe>
                        </div>
                   </div>
               </div>
               {% block header %}
               {% if function('is_home') or function('is_page') %}
                    <div class="navbar-bottom">
                        {% if is_user_logged_in %}
                        <div class="container-fluid">
                            <div class="dropdown pull-right inline">
                                <a data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;{{current_user.display_name}}</a>
                                <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                                    <!--li role="presentation" class="my_profile"><a href="{{bloginfo('home')}}/meu-cadastro/" tabindex="-1" role="menuitem">Meu cadastro</a></li>
                                    <li role="presentation" class="my_rates"><a href="{{bloginfo('home')}}/minhas-avaliacoes/" tabindex="-1" role="menuitem">Minhas avaliações</a></li-->
                                    <li role="presentation" class="logout"><a href="{{bloginfo('home')}}/entrar/?action=logout" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-off"></i>&nbsp;Sair</a></li>
                                    <!--li role="presentation" class="my_maps"><a href="javascript://" tabindex="-1" role="menuitem">Meus mapas</a></li-->
                                  </ul>
                            </div>
                        </div>
                        {% else %}
                        <div class="container-fluid">
                            <h3><a href="javascript://" class="pull-left inline">Faça login ou cadastre-se para participar.</a></h3>
                            <div class="pull-right inline"><a href="{{bloginfo('home')}}/entrar/">&raquo;&nbsp;entrar / registrar-se</a></div>
                        </div>
                        {% endif %}
                    </div>
                {% else %}
                    <div class="navbar-bottom">
                        <div class="container-fluid">
                            <div class="dropdown locs pull-left inline">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{nome_projeto}}</a>
                                <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                                    {% for category in categories %}
                                    <li role="presentation" class=""><a href="{{bloginfo('home')}}/projetos/{{category.slug}}" tabindex="-1" role="menuitem">{{category.name}}</a></li>
                                    {% endfor %}
                                  </ul>
                            </div>
                            <ul class="steps_header">
                                <li class=" step_selected step_first"><a href="javascript:void(0);"><em class="hide">1</em> Avaliação</a></li>
                                <!--li class=" "><a hreff="javascript"><em>2</em> Proposta</a></li>
                                <li class=" step_last"><a hreff="javascript"><em>3</em> Sugestão</a></li-->
                            </ul>
                            {% if is_user_logged_in %}
                            <div class="dropdown pull-right inline">
                                <a data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>&nbsp;{{current_user.display_name}}</a>
                                <ul aria-labelledby="drop4" role="menu" class="dropdown-menu" id="menu1">
                                    <!--li role="presentation" class="my_profile"><a href="{{bloginfo('home')}}/meu-cadastro/" tabindex="-1" role="menuitem">Meu cadastro</a></li>
                                    <li role="presentation" class="my_rates"><a href="{{bloginfo('home')}}/minhas-avaliacoes/" tabindex="-1" role="menuitem">Minhas avaliações</a></li-->
                                    <li role="presentation" class="logout"><a href="{{bloginfo('home')}}/entrar/?action=logout" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-off"></i>&nbsp;Sair</a></li>
                                    <!--li role="presentation" class="my_maps"><a href="javascript://" tabindex="-1" role="menuitem">Meus mapas</a></li-->
                                  </ul>
                            </div>

                            {% else %}
                            <div class="container-fluid">
                                <div class="pull-right inline"><a href="{{bloginfo('home')}}/entrar/">&raquo;&nbsp;entrar / registrar-se</a></div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% endblock %}
            </div>
        </header>


        <section id="content" role="main" class="content-wrapper">
            <!--{% if title %}<h1>{{title}}</h1>{% endif %}-->
            <div class="container-fluid wrapper {{sidebar_class}}">
                {% block content %}
                    Desculpe, não encontramos o que está procurando.
                {% endblock %}
            </div>
            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}
        </section>

        <footer id="footer">
            {% include 'footer.twig' %}
        </footer>
        {{ function('wp_footer') }}
    </body>
</html>