{% extends "base.twig" %}

{% block head %}
    <meta property="og:title" content="Projeto"/>
    <meta property="og:image" content="{{compartilhar_imagem|resize(200,200)}}"/>
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="Como você avalia o(a) {{nome_projeto}} hoje? - Selecionamos 12 critérios para avaliar a qualidade dos espaços públicos do Centro. Agrupamos esses critérios em três grupos: Proteção, Conforto e Prazer."/>
{% endblock %}

{% block content %}

{% include "_color-theme.twig" %}

<div class="explanation">
    <div class="steps row midway-horizontal midway-vertical midway">
        <div class="step-wrapper col-md-offset-2 col-md-8 ">
            <h2>{{nome_projeto}}<br/>Qual sua avaliação para este local hoje?</h2>
            <h3>Selecionamos 12 critérios para avaliar a qualidade dos espaços públicos do Centro. Agrupamos esses critérios em três grupos: Proteção, Conforto e Prazer.</h3>
            <div class="row">
                <div class="col-md-4">
                    <div id="carousel-1" class="carousel fadeIn" data-ride="carousel">
                        <div class="carousel-inner">
                        {% for imagem in galeria_imagem.galeria_imagens_1  %}
                            <div class="item {% if loop.first %}active{% endif %}">
                                <img class="img-responsive" src="{{imagem.get_src|resize(200, 200)}}" alt="{{imagem.caption}}" />
                                <div class="carousel-caption">{{imagem.get_thumbnail.caption}}</div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="carousel-2" class="carousel fadeIn" data-ride="carousel">
                        <div class="carousel-inner">
                        {% for imagem in galeria_imagem.galeria_imagens_2  %}
                            <div class="item {% if loop.first %}active{% endif %}">
                                <img class="img-responsive" src="{{imagem.get_src|resize(200, 200)}}" alt="{{imagem.caption}}" />
                                <div class="carousel-caption">{{imagem.get_thumbnail.caption}}</div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="carousel-3" class="carousel fadeIn" data-ride="carousel">
                        <div class="carousel-inner">
                        {% for imagem in galeria_imagem.galeria_imagens_3  %}
                            <div class="item {% if loop.first %}active{% endif %}">
                                <img class="img-responsive" src="{{imagem.get_src|resize(200, 200)}}" alt="{{imagem.caption}}" />
                                <div class="carousel-caption">{{imagem.get_thumbnail.caption}}</div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-md-12 center-block">
                    <p>Faça sua avaliação clicando nos botões correspondentes à sua satisfação.<br/>Não é necessária a avaliação de todos os critérios</p>
                    <a class="next start" href="{{button_comecar}}">Começar</a>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}