{% extends "base.twig" %}

{% block content %}

<div class="home_grid">
    {% for category in categories %}
    {% if category.tipo_projeto == 'conceito' %}
    <div class="projeto {{category.tipo_projeto}} span_2" style="background-image: url('{{category.imagem_representativa.src}}'); background-color: {{category.cor_representativa}};">
        <div class="wrapper">
            <h2><a href="/projetos/{{category.slug}}">{{category.name}}</a></h2>
            <h3><a href="/projetos/{{category.slug}}">{{category.tipo_projeto_label}}</a></h3>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <div class="span_right full_height">
        <div class="wrapper">
            <h2>Para a revitalização do Centro de São Paulo</h2>
            <p>Scelerisque lobortis, quam vulputate morbi vestibulum, non suspendisse elit amet in curabitur quam, risus fermentum dictum et purus accumsan morbi, urna duis. Eu morbi laoreet, rutrum iaculis donec odio bibendum, duis aliquam at volutpat fermentum, orci a justo feugiat tortor, sed placerat. Eget saepe, gravida congue et quisque lorem nam, wisi sed elit posuere vestibulum vitae nulla.</p>
            
        </div>
    </div>
    {% for category in categories %}
    {% if category.tipo_projeto == 'piloto' %}
    <div class="projeto {{category.tipo_projeto}} span_1" style="background-image: url('{{category.imagem_representativa.src}}'); background-color: {{category.cor_representativa}};">
        <div class="wrapper">
            <h2><a href="/projetos/{{category.slug}}">{{category.name}}</a></h2>
            <h3><a href="/projetos/{{category.slug}}">{{category.tipo_projeto_label}}</a></h3>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}