{% extends "base.twig" %}

{% block content %}

<div class="home_grid">
    {% for category in categories %}
    {% if category.tipo_projeto == 'conceito' %}
    <div class="projeto {{category.tipo_projeto}} span_2" style="background-image: url('{{category.imagem_representativa.src}}'); background-color: {{category.cor_representativa}};">
        <a href="projetos/{{category.slug}}" class="wrapper">
            <h2>{{category.name}}</h2>
            <h3>{{category.tipo_projeto_label}}</h3>
        </a>
    </div>
    {% endif %}
    {% endfor %}
    <div class="span_right full_height">
        <div class="wrapper">
            <h2>Queremos ouvir você</h2>
            <p>Bem-vindo, faça seu cadastro acima e colabore!</p>
            <p>Gostaríamos de ampliar o diálogo abrindo um canal para avaliação e comentários sobre as propostas feitas para o Anhangabaú e mais 4 projetos piloto no Centro de São Paulo. Sua participação é fundamental para traçarmos uma boa estratégia de intervenção nestes espaços públicos.</p>

            <p>Avaliar os espaços como são hoje é uma boa maneira de planejar e pensar mudanças. Participe dessa etapa inicial: escolha um dos projetos e faça sua avaliação.</p>

            <p>Próximas etapas</p>

            <p>Acompanhe por aqui os próximos passos, que visam conhecer os projetos e cada uma das suas camadas. Em breve será possível participar de votações e também entrar em mapas sugerindo que tipo de atividade terá em cada local.</p>
        </div>
    </div>
    {% for category in categories %}
    {% if category.tipo_projeto == 'piloto' %}
    <div class="projeto {{category.tipo_projeto}} span_1" style="background-image: url('{{category.imagem_representativa.src}}'); background-color: {{category.cor_representativa}};">
        <a href="projetos/{{category.slug}}" class="wrapper">
            <h2>{{category.name}}</h2>
            <h3>{{category.tipo_projeto_label}}</h3>
        </a>
    </div>
    {% endif %}
    {% endfor %}

</div>
{% endblock %}