{% extends "base.twig" %}

{% block content %}
    <div class="content-row">
        <div class="content-cell">
            <div class="form_wrapper two_col">
                <div class="header">
                    {% if mensagem %}
                        <div class="alert alert-danger">{{mensagem|print_r}}</div>
                    {% endif %}
                    <h2>Você precisa ser um usuário cadastrado para participar</h2>
                </div>
                <!--div class="fb">
                    <p>
                        <button class="btn btn-default btn-fb">entrar com o facebook</button>
                        &nbsp; Ou
                    </p>
                </div-->
                <div class="form_wrapper_col">
                    <h3>Já sou cadastrado</h3>
                    <p>Já tenho conta no Gestão</p>
                    <form role="form" method="POST" action="{{form_action}}?action=login" name="login_form">
                        <input type="hidden" name="redirect_to" value="{{redirect_to}}"/>
                        <div class="form-group">
                            <input type="text" name="user_name" id="user_name" placeholder="apelido" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="user_password" id="user_password" class="form-control" placeholder="senha">
                        </div>
                        <div class="form-group checkbox">
                            <label for="keep_connected_login">
                                <input type="checkbox" id="keep_connected_login" name="keep_connected_login">
                                <p>Continuar conectado</p>
                                <em><!-- --></em>
                            </label>
                        </div>
                        <a href="{{wp_lostpassword_url}}">Esqueceu sua senha?</a>
                        <button type="submit" class="btn btn-default pull-right">Entrar</button>
                    </form>

                </div>
                <div class="form_wrapper_col form_wrapper_col_right pull_right">
                    <h3>Quero me cadastrar</h3>
                    <p>Ainda não tenho uma conta no Gestão</p>
                    <form role="form" method="POST" action="{{form_action}}?action=register" name="register_form">
                        <div class="form-group">
                            <input type="text" placeholder="apelido" value="{{_POST['use_name']}}" class="form-control" name="user_name">
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="email" value="{{_POST['user_email']}}" class="form-control" name="user_email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" value="" placeholder="senha - mínimo 6 caracteres" name="user_password">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" value="" placeholder="repetir senha" name="user_password_repeat">
                        </div>
                        <!--div class="form-group checkbox">
                            <label for="keep_connected_register">
                                <input type="checkbox" id="keep_connected_register">
                                <p>Continuar conectado</p>
                                <em></em>
                            </label>
                        </div-->
                        <button type="submit" class="btn btn-default pull-right">Me cadastrar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}