{% extends "base.twig" %}

{% block head %}
    <meta property="og:title" content="Resultado"/>
    <meta property="og:image" content="{{compartilhar_imagem}}"/>
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="{{profile.display_name}} participou da primeira fase do projeto Centro Diálogo Aberto, avaliando os espaços públicos do centro de São Paulo. Veja o resultado dessa avaliação e participe tambem."/>
{% endblock %}

{% block content %}

{% include "_color-theme.twig" %}


<style type="text/css">
body {
    background-color: {{post.cda_color_field_id_post}}
}

</style>

<div>

<hr>

<p>ABAS -----------</p>
            {% for post in posts %}
                <p>{{post.title}}</p>
                
            {% endfor %}
<p>----------- ABAS END</p>
<hr>

<p>ABA SELECIONADA</p>


<p>{{post.post_title}}</p>

<hr>


</div>

{% endblock %}