{% extends "base.twig" %}

{% block head %}
    <meta property="og:title" content="Resultado"/>
    <meta property="og:image" content="{{compartilhar_imagem}}"/>
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="{{profile.display_name}} participou da primeira fase do projeto Centro Diálogo Aberto, avaliando os espaços públicos do centro de São Paulo. Veja o resultado dessa avaliação e participe tambem."/>
{% endblock %}

{% block content %}

{% include "_color-theme.twig" %}
{% include "_color-theme-passo-3.twig" %}


<div class="sugestao content">

    <div class="content-header">
        <h1>Como o {{nome_projeto}} deve ser usado?</h1>
        <ul class="tabs">

            <li class="tab proposta {{tab_proposta}}">
                
                <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/">
                    <span></span>
                    <p>Proposta</p>
                </a>
            </li>
            <li class="tab user {{tab_mapa}}">
                <span></span>
                <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/{{tab_mapa_url}}">
                    <span></span>
                    <p>{{tab_mapa_title}}</p>
                </a>
            </li>
            <li class="tab geral {{tab_geral}}">
                <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/geral/">
                    <span></span>
                    <p>Sugestão geral</p>
                </a>
            </li>


        </ul>
    </div>

    <div class="content-container">

    {% set spotsArr = spots|split('l') %}

    {% set userArr = post.post_content|split(',') %}

        <div class="col-sm-11 col-left">
            <div class="map_zone">
                <div class="spots">
                    {% for spot in spotsArr|slice(1, length) %}
                    {% set coord = spot|split('x') %}
                    {% set userPt = userArr[loop.index] %}
                    <div class="point pt_{{userPt}}" id="" style="top:{{coord[1]}}%;left:{{coord[0]}}%"></div>
                    {% endfor %}
                </div>
                <div class="map">
                    <img src="{{img_map.get_src}}">
                </div>
            </div>
            {% if tab == 'minha_sugestao' %}
            <div class="points disabled">
            {% for pt in pts %}
                <div class="point pt_{{pt.ID}}" id="point_{{pt.ID}}">
                    <span>{{pt.caption}}</span>
                    <div>{{pt.post_content}}</div>
                </div>
            {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-1 col-right">

        </div>
    </div>


</div>


<script type="text/javascript">

    var info = {

        pts : {},
        spots : '{{spots}}',
        usr : '{{post.post_content}}'

    }

    {% for pt in pts %}

    S.pts['{{pt.ID}}'] = {
        id : {{pt.ID}},
        title : '{{pt.caption}}',
        descr : '{{pt.post_content|replace({"'": "´"})}}',
        url : '{{pt.guid}}'
    }
    {% endfor %}

</script>



{% endblock %}