{% extends "base.twig" %}

{% block head %}
    <meta property="og:title" content="Resultado"/>
    <meta property="og:image" content="{{compartilhar_imagem}}"/>
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="{{profile.display_name}} participou da primeira fase do projeto Centro Diálogo Aberto, avaliando os espaços públicos do centro de São Paulo. Veja o resultado dessa avaliação e participe tambem."/>
{% endblock %}

{% block content %}

{% include "_color-theme.twig" %}

<style type="text/css">
body {
    background-color: {{post.cda_color_field_id_post}}
}

</style>

<div class="proposta content">

    <div class="content-header">
        <h1>Conheça a proposta</h1>
        <ul class="tabs">
        {% for post_li in posts %}
            <li class="tab">
                <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/propostas/{{post_li.post_name}}" style="background-image: url('post_li.icon');{% if post_li.post_name == post.post_name %}background-color: {{post_li.cda_color_field_id_post}};color: #fff;{% else %}background-color: #fff;color: {{post_li.cda_color_field_id_post}};{% endif %}">{{post_li.title}}</a>
            </li>
        {% endfor %}
        </ul>

        <h2>{{post.post_excerpt}}</h2>
   
    </div>
    <div class="col-md-6">
        <div class="gallery-1">
            <ul>
            {% for image in post.mgop_media_value['mgop_mb_galeria-1-fotos-do-projeto'] %}
                <li>
                    <a href="javascript://"><img src="{{image}}" width="540" height="540"></a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <h3>Veja alguns exemplos</h3>
        <div class="gallery-2">
            <ul>
                {% for image in post.mgop_media_value['mgop_mb_galeria-2-exemplos'] %}
                <li>
                    <a href="javascript://"><img src="{{image}}" width="200" height="200"></a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>


</div>

<hr>
<p><b>VOTOS</b> </p>

<p>{{user_vote}}</p>

<p>{{up}}</p>



<p>{{down}}</p>

THUMBS UP VOTES: {{up|length}} <br>
THUMBS DOWN VOTES: {{down|length}}


<br><br>
<br><br>

<p>COMMENTS</p>






<form id="comment" action="{{bloginfo('home')}}/projetos/{{category_slug}}/propostas/{{post.post_name}}/comment">
    <label>Deixe seu comment</label>
    <input name="comment" type="text">
    <button>Enviar</button>
</form>

<p>AGUARDANDO</p>
            <div id="comment_list">
            {% for comment in user_comments %}
                <div classo="comment user_comment">
                   <p class="title">{{comment.comment_content}}</p>
                   <p class="author">{{comment.comment_author}}</p>
                </div>
            {% endfor %}
            {% for comment in comments %}
                <div classo="comment">
                   <p class="title">{{comment.comment_content}}</p>
                   <p class="author">{{comment.comment_author}}</p>
                </div>
            {% endfor %}
            </div>



<hr>


</div>

{% endblock %}