{% extends "base.twig" %}

{% block head %}
    <meta property="og:title" content="Centro Dialógo Aberto - Participe"/>
    <meta property="og:image" content="http://gestaourbana.prefeitura.sp.gov.br/centro-dialogo-aberto-participe/wp-content/themes/participe-cda/assets/images/passo3_preview.png"/>
    <meta property="og:image:url" content="http://gestaourbana.prefeitura.sp.gov.br/centro-dialogo-aberto-participe/wp-content/themes/participe-cda/assets/images/passo3_preview.png"/>
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="Participei da terceita fase do projeto Centro Diálogo Aberto, avaliando os espaços públicos do centro de São Paulo. Veja o resultado dessa avaliação e participe tambem."/>
{% endblock %}

{% block content %}

{% include "_color-theme.twig" %}
{% include "_color-theme-passo-3.twig" %}


<div class="sugestao content">

    <div class="content-header">
        <h1>Como o {{nome_projeto}} deve ser usado?</h1>
        <ul class="tabs">

            <li id="proposta" class="tab proposta {{tab_proposta}}">
                
                <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/">
                    <span></span>
                    <p>Proposta</p>
                </a>
            </li>
            <li id="{{tab}}" class="tab user {{tab_user}} {{tab_user_url}}">
                <span></span>
                <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/{{tab_user_url}}">
                    <span></span>
                    <p>{{tab_user_title}}</p>
                </a>
            </li>
            <li id="geral" class="tab geral {{tab_geral}}">
                <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/geral/">
                    <span></span>
                    <p>Sugestão geral</p>
                </a>
            </li>


        </ul>
    </div>

    <div class="content-container tab_{{tab}} editing">


        <div class="col-sm-10 col-left">
            <div class="map_zone">
                <div class="spots">

                    {% set userArr = post.post_content|split('l') %}

                    {% for spot in spots %}
                    {% set coord = spot|split('x') %}

                    {% set userPt = '' %}

                    {% if tab == 'geral' %}

                        {% if votes[loop.index][0] != '' %}
                            {% set userPt = 'pt_' ~ votes[loop.index][0] %}
                        {% endif %}

                    {% else %}

                        {% if userArr[loop.index] != '' %}
                            {% set userPt = 'pt_' ~ userArr[loop.index] %}
                        {% endif %}

                    {% endif %}


                    <div class="point {{userPt}}" id="{{userPt}}" data-index="{{loop.index}}" style="top:{{coord[1]}}%;left:{{coord[0]}}%"></div>
                    {% endfor %}
                </div>
                <div class="map">
                    <img src="{{img_map.get_src}}">
                </div>
            </div>
            <div class="points disabled">
            {% for pt in pts %}
                <div class="point_wrapper point_wrapper_{{pt.ID}}">
                    <div class="point pt_{{pt.ID}} {{pt._wp_attachment_image_alt}}" id="point_{{pt.ID}}"></div>
                    <h2>{{pt.caption}}</h2>
                    <div class="content">{{pt.post_content}}</div>
                </div>
            {% endfor %}
            </div>
        </div>
        <div class="col-sm-2 col-right">
            <div class="info">
                {% if tab == 'proposta' %}
                <div class="info_content info_proposta">
                    <h1 class="titulo_proposta">Mapa conceito proposto</h1>
                    <div class="point_info">
                        <div class="point"></div>
                    </div>
                    <div class="bottom_info">
                        <div class="extra_info">Você pode fazer sugestões para o planejamento do Vale, selecionando uma das áreas no mapa e depois escolhendo uma atividade ou tipo de uso no menu de ícones abaixo.</div>
                        <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/minha_sugestao" class="button create_my_map">CRIAR MEU MAPA</a>
                    </a>
                </div>
                {% elseif tab == 'minha_sugestao' %}
                <div class="info_content info_minha_sugestao editing">
                    <h1 class="titulo_my_map">Minha sugestao de mapa</h1>
                    <div class="point_info">
                        <div class="point"></div>
                    </div>
                    <div class="bottom_info">
                        <div class="extra_info">Você pode sugerir outra atividade ou tipo de uso para esta área, selecionando no menu de ícones abaixo.</div>
                        <button class="finish_my_map">FINALIZAR MAPA</button>
                    </div>  
                </div>
                <div class="info_content info_minha_sugestao finished">
                    <h1 class="titulo_my_map">Minha sugestao de mapa</h1>
                    <div class="bottom_info">
                        <a href="http://www.facebook.com/sharer.php?u={{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/{{user_login}}" target="_blank" class="publish_my_map">PUBLICAR MEU MAPA NO FACEBOOK</a>
                        <button class="edit_my_map">EDITAR MEU MAPA</button>
                    </div>
                </div>
                {% elseif tab == 'geral' %}
                <div class="info_content info_geral">
                    <h1 class="titulo_user_map">Como a populaçao quer o Vale!</h1>
                    <div class="voting">
                        <div class="vote1 vote">
                            <div class="col col-sm-3">
                                <div class="pt"></div>
                            </div>
                            <div class="col col-sm-9">
                                <div class="voteWrapper">
                                    <span style="width: "></span>
                                </div>
                            </div>
                        </div>
                       <div class="vote2 vote">
                            <div class="col  col-sm-3">
                                <div class="pt"></div>
                            </div>
                            <div class="col col-sm-9">
                                <div class="voteWrapper">
                                    <span style="width: "></span>
                                </div>
                            </div>
                        </div>
                       <div class="vote3 vote">
                            <div class="col  col-sm-3">
                                <div class="pt"></div>
                            </div>
                            <div class="col col-sm-9">
                                <div class="voteWrapper">
                                    <span style="width: "></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="point_info">
                        <div class="point"></div>
                    </div>
                    <div class="bottom_info">
                        <div class="extra_info">Você pode fazer sugestões para o planejamento do Vale, selecionando uma das áreas no mapa e depois escolhendo uma atividade ou tipo de uso no menu de ícones abaixo.</div>
                        <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/minha_sugestao" class="button create_my_map">IR PARA O MEU MAPA</a>
                    </div>
                </div>
                {% else %}
                <div class="info_content info_usermap">
                    <h1 class="titulo_user_map">Sugestao de {{tab_user_login}}</h1>
                    <div class="point_info">
                        <div class="point"></div>
                    </div>
                    <div class="bottom_info">
                        <div class="extra_info">Você pode fazer sugestões para o planejamento do Vale, selecionando uma das áreas no mapa e depois escolhendo uma atividade ou tipo de uso no menu de ícones abaixo.</div>
                        <a href="{{bloginfo('home')}}/projetos/{{category_slug}}/sugestao/minha_sugestao" class="button create_my_map">CRIAR MEU MAPA</a>
                    </div>
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">

    {% if tab == 'geral' %}

    var data = {

        votes : [
            {% for vote in votesArr %}
            [
                {% for pt,count in vote %}

                {% if pt != 'x' %}

                [{{pt}} , {{count}}],

                {% endif %}

                // {{pt}} : {{count}},


                {% endfor %}
            ],
            {% endfor %}
        ],
        votesSpots : [
            {% for vote in votesArr %}
            [
                {% for pt,count in vote %}

                {% if pt != 'x' %}

                {{pt}} ,

                {% endif %}

                {% endfor %}
            ],
            {% endfor %}
        ],
        votesCount : [
            {% for vote in votesArr %}
            [
                {% for pt,count in vote %}

                {% if pt != 'x' %}

                {{count}},

                {% endif %}

                {% endfor %}
            ],
            {% endfor %}
        ]
        

    }

    {% else %}

    var data = {

        usr : [{{post.post_content|replace({"l": "," , 'x':'"x"'})}}]

    }

    {% endif %}


</script>


{% endblock %}