{% extends "base.twig" %}

{% block head %}
    <meta property="og:title" content="Resultado"/>
    <meta property="og:image" content="{{compartilhar_imagem}}"/>
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="{{profile.display_name}} participou da primeira fase do projeto Centro Diálogo Aberto, avaliando os espaços públicos do centro de São Paulo. Veja o resultado dessa avaliação e participe tambem."/>
{% endblock %}

{% block content %}

{% include "_color-theme.twig" %}

{% set cor_post = post.cda_color_field_id_post %}

{% if cor_post == "#" or cor_post == "" %}
    {% set cor_post = cor_projeto %}
{% endif %}

<style type="text/css">

body,
.carousel-control span,
.modal .glyphicon,
.carousel-caption,
.proposta #gallery2 .carousel-control a
{
    background-color: {{cor_post}};
}

.proposta .content-container .col-right .comments .comments_wrapper .comment .comment_author
{
    color: {{cor_post}};
}

</style>

<div class="proposta content">

    <div class="content-header">
        <h1>Conheça a proposta</h1>
        <ul class="tabs">

        {% for post_li in posts %}

            {% set has_icon = "" %}
            {% set style = "" %}
            {% set cor = post_li.cda_color_field_id_post %}

            {% if cor == "#" %}
                {% set cor = cor_projeto %}
            {% endif %}

            {% set color = 'color: ' ~  cor %}
            {% set bg = 'background-color: #fff' %}
            {% set image = '' %}


            {% if post_li.icon|length %}
                {% set image = 'background-image: url(' ~ post_li.icon ~ ')' %}
                {% set has_icon = 'has_icon' %}
            {% endif %}

            {% if post_li.post_name == post.post_name %}
                {% set color = 'color: #fff' %}
                {% set bg = 'background-color: ' ~  cor %}

                {% if post_li.icon|length %}
                    {% set image = 'background-image: url(' ~ post_li.icon|slice(0, length-4) ~ '_white.png)' %}
                {% endif %}
            {% endif %}

            {% set style = bg ~ ';' ~ color ~ ';' ~ image ~ ';' %}

            <li class="tab">
                <a class="{{has_icon}}" href="{{bloginfo('home')}}/projetos/{{category_slug}}/propostas/{{post_li.post_name}}" style="{{style}}">{{post_li.title}}</a>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div class="content-sub-header">
        <h2>{{post.post_excerpt}}</h2>
    </div>

    <div class="content-container">

        <div class="col-left col-xs-12 col-sm-8 col-lg-6">
            <div id="gallery1" class="carousel slide small carousel-fade" data-ride="carousel">

                <div class="carousel-inner">
                    {% for image in post.mgop_media_value['mgop_mb_galeria-1-fotos-do-projeto'] %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <img src="{{image.get_src}}">
                    </div>
                    {% endfor %}    
                </div>

                <a href="javascript://" class="modal_open carousel-control" data-toggle="modal" data-target="#gallery1_modal"><span><!-- --></span></a>
            </div>


            <div class="modal fade  modal-lg" id="gallery1_modal" tabindex="-1" role="dialog" aria-labelledby="gallery1_modalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">


                    <div id="gallery1_large" class="carousel slide large carousel-fade" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for image in post.mgop_media_value['mgop_mb_galeria-1-fotos-do-projeto'] %}
                            <div class="item {% if loop.first %}active{% endif %}">
                                <img src="{{image.get_src}}" width="880" height="560">
                                <div class="carousel-caption">
                                    {{image.caption}}
                                </div>
                            </div>
                            {% endfor %}    
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#gallery1_large" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#gallery1_large" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>


                </div>
              </div>
            </div>



            <div class="exemplos">
                <h3>Veja alguns exemplos</h3>
                <div id="gallery2" class="carousel slide small carousel-fade" data-ride="carousel">


                    <div class="carousel-inner">
                        {% for image in post.mgop_media_value['mgop_mb_galeria-2-exemplos'] %}
                        <div class="item {% if loop.first %}active{% endif %}">
                            <img src="{{image.get_src|resize(200, 200)}}">
                            <div class="carousel-caption">{{image.caption}}</div>
                        </div>
                        {% endfor %}    
                    </div>

                    <div class="carousel-control">
                        <a href="javascript://" class="control"></a>
                        <a href="javascript://" class="magnify" data-toggle="modal" data-target="#gallery2_modal"></a>
                    </div>

<!--                     <a href="javascript://" class="carousel-control pause"><span></span></a>
                    <a href="javascript://" class="carousel-control play"><span></span></a> -->
                </div>
                <div class="post-content">
                    {{post.post_content}}
                </div>

            </div>

            <div class="modal fade  modal-lg" id="gallery2_modal" tabindex="-1" role="dialog" aria-labelledby="gallery2_modalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">


                    <div id="gallery2_large" class="carousel slide large carousel-fade" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for image in post.mgop_media_value['mgop_mb_galeria-2-exemplos'] %}
                            <div class="item {% if loop.first %}active{% endif %}">
                                <img src="{{image.get_src}}">
                                <div class="carousel-caption">{{image.caption}}</div>
                            </div>
                            {% endfor %}    
                        </div>

                        <!-- Controls -->
                        {% if post.mgop_media_value['mgop_mb_galeria-2-exemplos']|length > 1 %}
                        <a class="left carousel-control" href="#gallery2_large" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#gallery2_large" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                        {% endif %}
                    </div>


                </div>
              </div>
            </div>


        </div>
        <div class="col-right  col-xs-12 col-sm-4 col-lg-6">
            <h3>Qual a sua opinião?</h3>
            <!-- <ul class="vote {% if user_vote|length %}disabled{% else %}enabled{% endif %}"> -->
            <ul class="vote enabled">
                <li class="up {% if user_vote == 'up' %}selected{% endif %}"><a class="thumb" id="up" data-url="{{bloginfo('home')}}/projetos/{{category_slug}}/propostas/{{post.post_name}}/vote" href="javascript://"><p>{{up|length}}</p></a></li>
                <li class="down {% if user_vote == 'down' %}selected{% endif %}"><a class="thumb" id="down" data-url="{{bloginfo('home')}}/projetos/{{category_slug}}/propostas/{{post.post_name}}/vote" href="javascript://"><p>{{down|length}}</p></a></li>
                <li class="quotes"><a href="javascript://"><p>{{comments|length}}</p></a></li>
            </ul>

            <div class="user_comment" style="display: none;">
                <form id="comment" action="{{bloginfo('home')}}/projetos/{{category_slug}}/propostas/{{post.post_name}}/comment">
                    <label for="comment_input">Deixe seu cometário sobre a proposta</label>
                    <input id="comment_input" name="comment" type="text">
                    <button>enviar</button>
                </form>
            </div>

            <div class="comments">
                <h3>Comentários</h3>
                <div class="comments_wrapper">

                     {% if user_comments|length == 0 and comments|length == 0 %}
                     <div class="no_comments">Seja o primeiro a comentar sobre este tópico</div>
                     {% endif %}

                    {% for comment in user_comments %}
                    <div class="comment user_hold">
                        <p class="comment_hold">Comentário aguardando aprovação</p>
                        <p class="comment_author">{{comment.comment_author}}</p>
                        <p class="comment_time">{{comment.comment_date}}</p>
                        <p class="comment_title">{{comment.comment_content}}</p>
                    </div>
                    {% endfor %}

                    {% for comment in comments %}
                    <div class="comment">
                       <p class="comment_author">{{comment.comment_author}}</p>
                       <p class="comment_time">{{comment.comment_date}}</p>
                       <p class="comment_title">{{comment.comment_content}}</p>
                    </div>
                    {% endfor %}

                    {{comment}}

                </div>
            </div>


        </div>
    </div>


</div>



{% endblock %}