{% extends "base.twig" %}

{% block content %}

{% include '_bg-mosaic.twig' %}

<div class="steps results content-row">
    <div class="content-cell">
        <div class="steps_wrapper">
            {% if mensagem %}
            <div class="alert alert-warning">{{mensagem}}</div>
            {% endif %}
            <h2>Qual a sua opinião sobre {{nome_projeto}} hoje?</h2>
            <h2>RESULTADO</h2>
            <h3>Minha avaliação sobre {{nome_projeto}}</h3>

            <!--div class="category">#PROTEÇÃO</div-->

            {% set i = 1 %}
            {% for post in posts %}
            <div class="vote step{{i}}">
                <p>{{post.title}}</p>
                {% set i = i + 1 %}
            </div>
            {% endfor %}

            <div class="category">&nbsp;</div>

            <a href="javascript://">
                <img src="{{theme.uri}}/images/fb_result.png">
            </a>

        </div>
    </div>
</div>
{% endblock %}