{% extends "base.twig" %}

{% block head %}
    <meta property="og:title" content="Resultado"/>
    <meta property="og:image" content="{{compartilhar_imagem}}"/>
    <meta property="og:site_name" content="Centro Diálogo Aberto"/>
    <meta property="og:description" content="{{profile.display_name}} participou da primeira fase do projeto Centro Diálogo Aberto, avaliando os espaços públicos do centro de São Paulo. Veja o resultado dessa avaliação e participe tambem."/>
{% endblock %}

{% block content %}

{% include '_bg-mosaic.twig' %}
{% include "_color-theme.twig" %}

<div class="steps results content-row">
    <div class="content-cell">
        <div class="steps_wrapper">
            {% if mensagem %}
            <div class="alert alert-warning">{{mensagem}}</div>
            {% endif %}

            <h2>Qual a sua opinião sobre {{nome_projeto}} hoje?</h2>
            
            {% if username %}
                <h3>Esta é a avaliação feita por: {{username}}</h3>
            {% else %}
                <h2>RESULTADO</h2>
                <p>Minha avaliação sobre {{nome_projeto}}</p>
            {% endif %}
            


            <p class="category">#PROTEÇÃO</p>
            {% set i = 1 %}

            {% for post in posts %}
                {% if post.terms('tags')[0].slug == 'protecao' %}
                    {% set vote_answer = "x" %}
                    {% for vote in voting %}
                        {% if vote.comment_post_ID == post.ID %}
                            {% set vote_answer = vote.comment_content %}
                        {% endif %}
                    {% endfor %}
                    <div class="vote step{{i}} vote{{vote_answer}}">
                        <p>{{post.title}}</p>
                        {% set i = i + 1 %}
                    </div>
                {% endif %}
            {% endfor %}


            <p class="category">#CONFORTO</p>
            {% set i = 1 %}

            {% for post in posts %}
                {% if post.terms('tags')[0].slug == 'conforto' %}
                    {% set vote_answer = "x" %}
                    {% for vote in voting %}
                        {% if vote.comment_post_ID == post.ID %}
                            {% set vote_answer = vote.comment_content %}
                        {% endif %}
                    {% endfor %}
                    <div class="vote step{{i}} vote{{vote_answer}}">
                        <p>{{post.title}}</p>
                        {% set i = i + 1 %}
                    </div>
                {% endif %}
            {% endfor %}


            <p class="category">#PRAZER</p>
            {% set i = 1 %}

            {% for post in posts %}
                {% if post.terms('tags')[0].slug == 'prazer' %}
                    {% set vote_answer = "x" %}
                    {% for vote in voting %}
                        {% if vote.comment_post_ID == post.ID %}
                            {% set vote_answer = vote.comment_content %}
                        {% endif %}
                    {% endfor %}
                    <div class="vote step{{i}} vote{{vote_answer}}">
                        <p>{{post.title}}</p>
                        {% set i = i + 1 %}
                    </div>
                {% endif %}
            {% endfor %}

            <p class="category">&nbsp;</p>
            {% if username %}
                <!--a href="" class="next start">Venha participar você também!</a-->
            {% else %}
                <a href="https://www.facebook.com/sharer/sharer.php?u={{compartilhar_link}}" target="_blank">
                    <img src="{{theme.uri}}/assets/images/fb_result.png">
                </a>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}